<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>비밀번호 찾기 결과</title>
</head>
<body>
    <div class="logo-container">
        <img src="/static/logo.png" alt="Logo" class="logo">
    </div>
    <div class="container">
        <p>회원님의 비밀번호는 <strong>{{ password }}</strong> 입니다.</p>
        <div class="form-group">
            <a href="{{ url_for('login') }}">
                <button type="button">로그인하러 가기</button>
            </a>
        </div>
    </div>
</body>
</html>
